@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
.homepage {
}
.firstImage {
  height: 920px;
  width:100%;
  display: block
}
.secondImage {
  width: 100%;
  height: 235px;
  background-color: rgb(33, 47, 61);
  color: white;
}
.second {
  width: 70%;
  margin: 0 auto;
  background-color: #2C3E50;
  vertical-align: middle;
  text-align: center;
  padding: 5px 10px;
}
.imagesDesc {
  width:50%; 
  height: 450px;
  display: block;
  box-shadow: 0 0 10px 2px #000000;
  float: left;
}
.leftDesc {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
  height: 450px;
  padding: 90px 20px;
}
.rightDesc {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
  height: 450px;
  padding: 90px 20px;
  text-align:right;
}
.colortheme {
  color: #3A8740;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.tabs .tab a {
  color: rgba(58, 135, 64, 0.616);
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #3A8740;
  border-bottom-color: #3A8740;
}

.navColor {
  background-color: white;
  box-shadow: 0 0;
}
.logo {
  width: 250px;
  margin-left: 30px;
  margin-top: 7px;
}
.navbar {
  transition: top 0.5s
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}
p {
  font-size: 17px;
}

.chapterTitle {
  font-weight: bold;
}
.indent {
  margin-left: 25px;
}
.codeblock {
  background-color: #283747;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.codes {
  vertical-align: middle;
  color: white;
}
.comments {
  color: rgb(28, 165, 28);
}
.types {
  color: rgb(233, 95, 95);
}
.views {
  color: rgb(238, 51, 222);
}
.terms {
  color: rgb(81, 136, 207);
}
.bolds, .terms {
  font-weight: bold;
}
.views, .types, .codes{
  font-family: Consolas, monaco, monospace;
  font-size: 13px;
}
a, .comments, .types, .views, .terms, .bolds {
  display: inline;
}

.body{
  width: 80%;
}

.tab{
  width:50%;
}

.body, .lesson, .editorBox {
  margin: auto;
  margin-top: 30px;
}

.cbtn, .cbtn2 {
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.cbtn{
  border: 1px solid #3A8740;
  color: #3A8740;  
}
.cbtn2{
  border: 1px solid #008ECC;
  color: #008ECC;
}
.cbtn:hover, .cbtn2:hover, i.icon-white {
  color: #fff;
}
.cbtn::before, .cbtn2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.cbtn:hover::before, .cbtn2:hover::before{
  height: 180%;
}
.cbtn::before, .cbtn2::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.8s;
}
.cbtn2::before{
  background: #008ECC;
}
.cbtn::before{
  background: #3A8740;
}

#editor, #abiReadable, #lll {
  border: 1px solid #ddd;
  height:500px;
  width: 100%;
}
.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
.abi-box {
  color:black;
}

footer {
  background-color: #2C3E50;
  color:white;
  position:absolute;
  bottom:0;
  width:100%;
}

.twenty {
  margin-top: 80px;
  width:20%;
}

.eighty {
  width:80%;
}

.monster {
	position: absolute;
}