@import url('https://fonts.googleapis.com/css?family=Actor|Arvo');
.homepage {
  font-family: 'Arvo', serif;
}
.firstImage {
  height: 607px;
  width:100%;
  display: block
}
.secondImage {
  width: 100%;
  height: 235px;
  background-color: black;
  color: white;
}
.second {
  width: 70%;
  margin: 0 auto;
  background-color: #1f1d1d;
  vertical-align: middle;
  text-align: center;
  padding: 5px 10px;
}
.thirdImage {
  width: 100%;
  height: 350px;
}
.imagesDesc {
  width:50%; 
  height: 350px;
  display: block;
  box-shadow: 0 0 10px 2px #000000;
  float: left;
}
.leftDesc {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
  height: 350px;
  padding: 20px 20px;
}
.rightDesc {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
  height: 350px;
  padding: 20px 20px;
  text-align:right;
}
.colortheme {
  color: #3A8740;
  font-family: 'Arvo', serif;
  font-weight: bold;
}




.navColor {
  background-color: #1c1c1d;
}
.logo {
  width: 175px;
  margin-left: 30px;
  margin-top: 7px;
}
.navbar {
  transition: top 0.5s
}

h5 {
  font-family: 'Arvo', serif;
  font-size: 26px;
}
p {
  font-size: 17px;
}

.chapterTitle {
  font-weight: bold;
}
.indent {
  margin-left: 25px;
}
.codeblock {
  background-color: #1f1d1d;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.codes {
  vertical-align: middle;
}
.comments {
  color: rgb(28, 165, 28);
}
.types {
  color: rgb(233, 95, 95);
}
.views {
  color: rgb(238, 51, 222);
}
.terms {
  color: rgb(81, 136, 207);
}
.bolds, .terms {
  font-weight: bold;
}
.views, .types, .codes{
  font-family: Consolas, monaco, monospace;
  font-size: 13px;
}
.comments, .types, .views, .terms, .bolds {
  display: inline;
}

.body{
  width: 80%;
}

.tab{
  width:50%;
}

.body, .lesson, .editor {
  margin: auto;
  margin-top: 30px;
}

.cbtn{
  border: 1px solid #3A8740;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  font-family: 'Arvo', serif;
}
.cbtn1{
  color: #3A8740;
}
.cbtn1:hover{
  color: #fff;
}
.cbtn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3A8740;
  z-index: -1;
  transition: 0.8s;
}
.cbtn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.cbtn1:hover::before{
  height: 180%;
}

#editor, #abiReadable, #lll {
  border: 1px solid #ddd;
  height:500px;
  width: 100%;
}
.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

footer {
  background-color: #1c1c1d;
  color:white;
  position:absolute;
  bottom:0;
  width:100%;
}